apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - grafana-stack-configmap.yaml
  - grafana-stack-helmrelease.yaml
  - gatekeeper-helmrelease.yaml
